body {
    background-color: #F0F0F0;
}

.warp{
	background-color: #fff;
    border: 1px solid threedshadow;
    border-radius: 10px;
    color: #000;
    margin: 4em auto;
    width:960px;
    padding: 20px;
}

h1 {
    border-bottom: 1px solid threedlightshadow;
    font-size: 160%;
    font-weight: normal;
    margin: 0 0 0.6em;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
p {
    font-size: 110%;
}
#UI_goUp {
    float: left;
    margin-top: 0;
}
#UI_showHidden {
    float: right;
    margin-top: 0;
}
table {
    clear: both;
    margin: 0 auto;
    width: 90%;
}

thead {
    font-size: 16px;
}
th {
    text-align: left;
    white-space: nowrap;
}

th>a{
	color:#000;
}
th:hover > a {
    text-decoration: underline;
	
}

.warp > table > tbody > tr:hover {
    -moz-outline-radius: 0.3em;
    outline: 1px solid threedlightshadow;
}

td{
	font-size:12px;
	cursor:pointer;
	text-align: left;
}

.up {
    margin-inline-start: 20px;
    padding: 0 0.5em;
}
.up::before {
    content: url("../img/up.png");
    margin-inline-end: 4px;
    margin-inline-start: -20px;
    vertical-align: middle;
}
.dir::before {
    content: url("../img/folder.png");
}
.file::before {
    content: url("../img/file.png");
}
